#about-us {
    padding: 1rem;
    background-color: var(--tertiary-color);
}

#about-us h1 {
    font-family: var(--title-font);
    color: var(--primary-color);
    padding: 2rem;
    padding-top: 3rem;
    text-align: center;
    font-size: min(4vw, 4rem);
}

#about-us p {
    font-size: min(2.5vw, 2.5rem);
    font-family: var(--title-font);
    color: var(--primary-color);
    padding-bottom: 0.7rem;
}

#about-us strong {
    color: var(--primary-color);
}

@media screen and (max-width: 800px) {
    #about-us h1 {
        padding: 1rem;
        font-size: 7vw;
    }

    #about-us p {
        font-size: 4vw;
    }
}