main {
    padding: 1rem;
    background-color: var(--tertiary-color);
}

main h1, h2 {
    font-family: var(--title-font);
    color: var(--primary-color);
    padding: 2rem;
    padding-top: 3rem;
    text-align: center;
    font-size: min(4vw, 4rem);
}

main p {
    font-size: min(2.5vw, 2.5rem);
    font-family: var(--text-font);
    color: var(--primary-color);
    padding-bottom: 0.7rem;
}

main strong {
    color: var(--primary-color);
}

main a {
    text-decoration: underline;
    color: var(--quartiary-color)
}

@media screen and (max-width: 800px) {
    main h1 {
        padding: 1rem;
        font-size: 7vw;
    }

    main p {
        font-size: 4vw;
    }
}